div(class="login")
    div(class="btn-group flow")
        div(class="btn flowgrid on", id="citation-flow")
            p step 0
                i(class="fas fa-check-circle")
            h4 Cite
        div(class="btn flowgrid off", id="authorization-flow")
            p step 1
                i(class="fas fa-check-circle")
            h4 Authorization
        div(class="btn flowgrid off", id="ibmkey-flow")
            p step 2
                i(class="fas fa-check-circle")
                i(class="fas fa-times-circle")
            h4 IBM key
        div(class="btn flowgrid off", id="search-flow")
            p step 3
                i(class="fas fa-check-circle")
            h4 Select Algorithms <br>and Accounts

    div(class="login-background", id="citation")
        include citation-content
        div(class="auth-flow-next", id="citation-skip")
            a(href="") Next

    div(class="login-background", id="authorization")
        h1 Authorization
        p You must authorize us to access your Twitter account in order to user the tool.
        div(class="login-instruction")
            p Frequently Asked Questions:
            a(href="https://twitter.com/i/flow/signup", target="_blank") How to create a Twitter account?
            a(href="documentation#what-we-do", target="_blank") How are my credentials handled?
        div(id="twitter-auth")
            a(class="btn btn-primary btn-block", target="_blank")
                img(src="img/twitter-sm-logo.png" width=18)
                | Twitter account

    div(class="login-background", id="ibmkey")
        h1 IBM personality insights
        p Please provide your IBM personality insights key, which is <u>DIFFERENT</u> than your IBM Cloud
            | (formerly known as Bluemix) credentials.
        div(class="login-instruction")
            p Frequently Asked Questions:
            a(href="documentation#access-watson", target="_blank") How do I access IBM Personality Insights?
            a(href="documentation#find-watson-credential", target="_blank") How can I get an IBM personality insights key
        div(id="bluemix-auth")
            input(id="bluemix-personality-apikey", type="password", class="form-control", placeholder="Personality Insights API Key")
            button(class="btn btn-primary pull-right", id="bluemix-pin-submit")
                img(src="img/bluemix-sm-logo.png" width=18)
                | Submit
        div(class="auth-flow-next", id="bluemix-skip")
            a(href="") Skip

    div(class="login-background", id="search")
        h1 Algorithms and Accounts
        p Please select one personality analysis algorithm.
        div(id="select-algorithm", class="row")
            select(class="form-control", id="algorithm")
                option(value="none" selected) Choose one personality alogrithm...
                option(value="IBM-Watson") IBM Personality Insights
                option(value="Pamuksuz-Personality") Pamuksuz, Yun, Humphreys Brand Personality Model
        p Please select two Twitter accounts that you want to compare.
        div(id="user-search", class="row")
            input(class="form-control", placeholder="screen name, or search User screen name with keywords...")
            button(class="btn btn-primary pull-right botometer-icon", data-toggle="tooltip", data-placement="right", title="OSoMe Botometer " +
            "checks how likely the account is to be a bot. Higher scores are more bot-like. Click to proceed.")
                img(src="img/botometer-sm-logo.png" width=18)
                | Bot Check
            div(class="prompt")
        div(id="brand-search", class="row")
            input(class="form-control", placeholder="screen name, or search User screen name with keywords...")
            button(class="btn btn-primary pull-right botometer-icon", data-toggle="tooltip", data-placement="right", title="OSoMe Botometer " +
            "checks how likely the account is to be a bot. Higher scores are more bot-like. Click to proceed.")
                img(src="img/botometer-sm-logo.png" width=18)
                | Bot Check
            div(class="prompt")
        div(class=row)
            button(id="analyze-btn", class="btn btn-primary btn-block") Start Analysis
        div(class="loading")
            img(src="img/bae_loading_md.gif")

<!-- twitter input popup -->
div(id="twitter-callback", class="modal fade", role="dialog", data-backdrop="static", data-keyboard="false")
    div(class="modal-dialog")
        div(class="modal-content")
            div(class="modal-body")
                button(class="close" data-dismiss="modal") &times;
                div(class="login-header")
                    img(src="img/twitter-sm-logo.png", width=80)
                    h2 Twitter
                div(class="login-notes")
                    p You"ve granted Twitter access to Social Media Macroscope SMILE! Enter the PIN to complete the authorization process.
                    input(id="twitter-pin", class="form-control", placeholder="PIN")
                button(class="btn btn-primary pull-right", id="twitter-pin-submit") submit

<!-- Botometer popup -->
div(id="botometer-modal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false")
    div(class="modal-dialog")
        div(class="modal-content")
            div(class="modal-body")
                button(class="close" data-dismiss="modal") &times;
                div(class="login-header")
                    img(src="img/botometer-sm-logo.png", width=80)
                    h2 Botometer
                div(class="login-notes")
                    p
                        a(href="https://botometer.iuni.iu.edu/#!/", target="_blank")  Botometer
                        |  checks the activity of a Twitter account and gives it a score based on
                        |  <b>how likely the account is to be a bot</b>.
                        |  BAE is using the free version of the API which is subject to quota limit of 500
                        |  requests per day shared among all the BAE users. The rate limit is 1 request per second.
                        |  If you receive an error message, the quota for the current date or second might have exceeded.
                    p(style="display:inline-block") Would you like to check&nbsp;
                    p(id="botometer-screen-name")
                    p(style="display:inline-block") &nbsp;is a bot?
                div(class="loading")
                    img(src="img/bae_loading_md.gif")
                div(id="botometer-display")
                    p Bot scores are displayed on a <b>0-to-5 scale</b> with zero being most human-like and five being the most bot-like.
                        |  A score in the middle of the scale is a signal that our classifier is uncertain about the classification.
                    a Download Full Botometer Score Report...
                    div(id="botometer-gauge")
                button(class="btn btn-primary pull-right", id="botometer-button") check

