div(id="header")
    a(href="#")
        img(src="img/bae_bg_logo.png", height=450, width=640)
    h1(id="title") Brand Analytics Environment
    p(id="description") BAE helps practitioners to gain insight into how individuals and groups may
        |  interact with brands and various organizations. You may find an organization’s perfect “bae” through this tool.
        | <br><br>
        |  <i class="fas fa-paperclip"></i> <i>Yun, J. T., Pamuksuz, U., & Duff, B. R. L. (Forthcoming, 2019). –
        |  Are we who we follow? Analyzing human personality
        |  and brand following on Twitter. International Journal of Advertising, Special issue entitled, "New Trends in
        |  Digital and Social Media Advertising".</i>
