div(id="header")
    img(src="img/bae_bg_logo.png", height=450, width=640)
    h1(id="title") Brand Analytics Environment
    p(class="description") BAE helps practitioners to gain insight into how individuals and groups may
        |  interact with brands and various organizations. You may find an organization’s perfect “bae” through this tool.
        | <br><br>
