div(id="header")
    a(href="#")
        img(src="img/bae_bg_logo.png", height=450, width=640)
    h1(id="title") Brand Analytics Environment
    p BAE helps practitioners to gain insight into how individuals and groups may
        |  interact with brands and various organizations. You may find an organization’s perfect “bae” through this tool.
