div(id="header")
    a(href="#")
        img(src="img/bae_bg_logo.png", height=450, width=640)
    h1(id="title") Brand Analytics Environment
    p(id="description") BAE helps practitioners to gain insight into how individuals and groups may
        |  interact with brands and various organizations. You may find an organization’s perfect “bae” through this tool.
        | <br><br>
        |  <i class="fas fa-paperclip"></i> <i>Yun, J. T., Pamuksuz, U., & Duff, B. R. L. (2019). Are we who we follow?
        |  Computationally analyzing human personality and brand following on Twitter. International Journal of
        |  Advertising, 0(0), 1–20. <u><a href="https://doi.org/10.1080/02650487.2019.1575106" target="_blank">
        |  https://doi.org/10.1080/02650487.2019.1575106</a></u></i>
        |  <br>
        |  Access to a free pre-print version of the article can be found
        |  <a href="https://www.researchgate.net/publication/330542500_Are_we_who_we_follow_Computationally_
        |  analyzing_human_personality_and_brand_following_on_Twitter" target="_blank">HERE</a>
