doctype html
html
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, inital-scale=1")

        <!-- settings -->
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
        script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
        script(src="https://code.jquery.com/jquery-1.12.4.js")

        <!-- bootstrap -->
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css",
            integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", crossorigin="anonymous")
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css",
            integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp", crossorigin="anonymous")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js",
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa", crossorigin="anonymous")

        <!-- fontawesome -->
        link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.0.13/css/all.css",
            integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp", crossorigin="anonymous")
        <!-- google chart -->
        script(type="text/javascript", src="https://www.gstatic.com/charts/loader.js")

        <!-- google font -->
        link(href='https://fonts.googleapis.com/css?family=Monda', rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Nothing You Could Do', rel='stylesheet')

        <!-- Count up -->
        script(type="text/javascript", src="javascript/countUp.js")

        <!-- auto complete -->
        link(rel="stylesheet" href="css/awesomplete.css")
        script(src="javascript/awesomplete.js")

        <!-- d3 -->
        script(type="text/javascript", src="https://d3js.org/d3.v5.min.js")

        <!-- customized -->
        link(href="css/index.css", rel="stylesheet")

        body
            div(class="headers", style="display:block;margin:50px auto auto auto;max-width:800px;text-align:center;")
                img(src="img/bae_bg_logo.png", height=450)
                h1(id="title") Brand Analytics Environment
                p(id="bae-description") BAE helps practitioners to gain insight into how individuals and groups may
                    |  interact with brands and various organizations. You may find an organization’s perfect “bae” through this tool.
            div(class="search", style="display:block;margin:50px auto auto auto; max-width:800px; text-align:center;")
                div(id="user-search", class="controls form-inline", style="margin:10px auto 10px auto;")
                    i(class="fas fa-user-alt")
                    input(class="form-control", placeholder="User's screen name", style="width:500px;margin-left:20px;")
                div(id="brand-search", class="controls form-inline", style="margin:10px auto 10px auto;")
                    i(class="fas fa-building")
                    input(class="form-control", placeholder="Brand's screen name", style="width:500px;margin-left:20px;")
                button(id="analyze-btn", class="btn btn-primary btn-block") Start Analysis
                div(class="loading", style="text-align:center;margin:50px 50px;display:none;")
                    img(src="img/bae_loading_md.gif")

            div(id="display", style="margin:50px 50px;overflow:auto;display:none;")
                div(class="col col-md-4 col-sm-4 col-xs-12")
                    div(id="twitter-user-container")
                div(class="col col-md-4 col-sm-4 col-xs-12")
                    div(id="twitter-brand-container")
                div(class="col col-md-4 col-sm-4 col-xs-12")
                    div(id="comparison" style="text-align:center;")
                        h1(style="color:#def2f1;") Similarity Score
                        select(class="form-control", id="similarity-metrics")
                            option(value="none" selected) Please choose...
                            option(value="personality_sim_score") Personality
                            option(value="needs_sim_score") Needs
                            option(value="values_sim_score") Values
                            option(value="consumption_sim_score") Consumption Preference
                        h1(style="font-size:100px;color:white;margin:50px 50px;", id="similarity-score")
                        a(href="https://en.wikipedia.org/wiki/Cosine_similarity", target="_blank", style="color:white;") How to calculate cosine similarity score?
                    div(id="history")
                        h1 History
                        div(id="history-form" style="padding:30px;")

            include warning.pug
            include error.pug

            script(src="javascript/calcSessionID.js")
            script(src="javascript/indexPublic.js")

