div(id="history-preview", class="modal fade", role="dialog", data-backdrop="static", data-keyboard="false")
    div(class="modal-dialog modal-lg")
        div(class="modal-content")
            div(class="modal-body")
                div(id="IBM-preview-container")
                div(id="Pamuksuz-preview-container")
            div(class="modal-footer")
                button(class="btn btn-primary pull-right", data-dismiss="modal") Close
