nav(class="navbar navbar-expand-lg navbar-light bg-light")
    a(class="navbar-brand", href="./")
        img(src="img/bae_bg_logo.png", height=30, width=36)
    a(class="navbar-brand", href="", id="termination-confirmation")
        i(class="fas fa-sign-out-alt")
        | &nbsp;Exit BAE
    a(class="navbar-brand", href="documentation") FAQ
    a(class="navbar-brand", href="citation") Cite
    a(class="navbar-brand", href="https://socialmediamacroscope.org/feedback/report_problems", target="_blank") Report Problems
div(id="terminate-modal" class="modal fade" role="dialog")
    div(class="modal-dialog")
        div(class="modal-content")
            div(class="modal-header")
                button(class="close" data-dismiss="modal") &times;
                h2(class="modal-title") Terminate This Session?
            div(class="modal-body form")
                p Any data you collected or generated within 30 days will be
                    |  restored when you launch the next session.
            div(class="modal-footer")
                button(class="btn btn-primary", onclick="terminate();") Yes
                button(class="btn btn-default", data-dismiss="modal") No

