nav(class="navbar navbar-expand-lg navbar-light bg-light")
    a(class="navbar-brand", id="macroscope", href="https://socialmediamacroscope.org") Social media macroscope
    a(class="navbar-brand", href="documentation") Help
    a(class="navbar-brand", href="mailto:TechServicesAnalytics@mx.uillinois.edu", target="_top") Contact Us


