body{
    background-color:#46aea8;
    font-family: 'Monda';
    overflow-y:auto;
    color:#063535;
    font-size:14px;
}

img{
    width:80%;
    margin:25px auto 25px auto;
    display:block;
}

i{
    margin-right:10px;
}

.section{
    background-color: #def2f1;
    padding: 50px;
    margin: 50px;
    border-radius: 10px;
}

.header1{
    padding:20px;
    background-color:#607d8b59;
    border-radius:5px;
}
.header1 > h2 > a{
    text-decoration: none;
}

.content{
    padding:20px;
}


.header2{
    padding-left:20px;
    padding-right:20px;
}

.header2 > h3{
    margin-bottom:20px;
}

.header2 .content2{
    display:none;
    padding:20px;
}
