/********************** General ***********************/
body{
    background-color:#46aea8;
    font-family: 'Monda';
    overflow:auto;
    color:#063535;
}

button:focus,
button:visited,
button:active{
    outline:none;
}

.modal-body{
    padding:30px;
    overflow:auto;
}

.modal-body .btn{
    margin:10px;
}

.loading{
    text-align:center;
    margin:50px 50px;
    display:none;
}

.row{
    overflow:hidden;
}

/* tooltip */
.tooltip-inner {
    max-width: 350px;
    width: 350px;
    text-align:left;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    font-size: 12px;
    color: black;
}

.tooltip.left{
    margin-left: -20px;
}

.tooltip.left > .tooltip-arrow{
    border-left-color: white;
}

.tooltip.right > .tooltip-arrow{
    border-right-color: white;
}

.tooltip.bottom > .tooltip-arrow{
    border-bottom-color: white;
}

.tooltip.top > .tooltip-arrow{
    border-top-color: white;
}

/*********************** Prompt ***********************/
.prompt{
    background: white;
    text-align: left;
    max-height: 300px;
    overflow:auto;
    border-radius: 5px;
}

.prompt-user{
    padding: 8px 15px;
}
.prompt-user:hover,
.prompt-user:focus,
.prompt-user:checked{
    background:#eeeeee;
}

.prompt-img{
    border-radius:50px;
    width:30px;
    margin:0 10px 0 10px;
}

.prompt-screen-name{
    display:inline;
    font-size:15px;
    font-weight: bold;
}

.prompt-user-name{
    margin-left:2px;
    display:inline;
    color:green;
    font-style:italic;
}

.prompt-user-description{
    font-size:12px;
    color:#777777;
    margin-left:50px;
}

/*********************** Frames ***********************/
#display {
    margin: 100px 100px;
    overflow: auto;
    display: none;
}

/*********************** user/brand Personality **********************/
#twitter-container,
#history,
#comparison,
#selected-accounts{
    border-radius: 10px;
    overflow:auto;
    margin-top:15px;
}

#comparison,
#selected-accounts{
    background-color: #17252a;
    min-height: 100px;
    margin:15px 15px;
    padding: 50px;
    color:white;
}

#selected-accounts{
    background-color: #DEF2F2;
    color: #17252a;
}

.vertical-centered{
    padding:20px 0;
    text-align: center;
}

#run-another{
    text-decoration: underline;
    cursor: grab;
    font-size: 20px;
}

#user-container,
#brand-container,
#history-links,
#bulk-comparison{
    background-color: #def2f1;
    min-height: 600px;
    padding: 50px;
    border-radius: 10px;
    overflow:auto;
}

#history-links,
#bulk-comparison{
    height:1000px;
}
.personality-header{
    padding:20px;
    background-color:#607d8b59;
    border-radius:5px;
    overflow:auto;
}

.personality-header img{
    width:60px;
    border-radius:5px;
    display:inline;
}

.word-count{
    display:inline;
    vertical-align: baseline;
}

.number{
    display:inline;
    color:#b04b39;
    font-weight:800;
    vertical-align: baseline;
}

.personality.personality,
.personality.needs,
.personality.values,
.personality.consumption-perferences{
    padding:10px;
}

.button-group{
    padding:10px;
    text-align: center;
}

.expand-personality-btn{
    float:right;
    background:none;
    border:none;
}

.personality.personality-big5-scores div{
    margin:10px 0 20px 0;
}

.consumption-header-row{
    background-color:#063535;
    color:white;
}

.consumption-table-cell{
    font-family: Monda;
}

/********************* Similarity Score ***********************/
@-webkit-keyframes glowing {
    from { -webkit-box-shadow: 0 0 10px #17252a; }
    50% { -webkit-box-shadow: 0 0 40px #def2f1; }
    to { -webkit-box-shadow: 0 0 10px #17252a; }
}

#similarity-metrics{
    -webkit-animation-name:glowing;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    margin:20px auto 20px auto;
    margin-top:35px;
}

#similarity-score{
   font-size:50px;
}

/******************* History *********************/
#history-form{
    padding:30px;
}

#history-btn{
    background:#063535;
    width:85%;
}

/*plus*/
.fas.fa-plus-circle{
    color:#b04b39;
}

/*minus*/
.fas.fa-minus-circle{
    color:#063535;
}
.history-link{
    padding:5px;
    display:block;
    margin:10px;
    border-bottom:solid 1px #bcd1d5;
}

.history-link > .preview{
    display:inline;
    font-weight:bolder;
    font-size:15px;
}

.history-link  button,
.history-link > .download{
    float:right;
    background:none;
    border:none;
}

.tag-IBM{
    background-color:#b04b39;
    font-size:x-small;
    margin:3px;
}

.tag-Twit{
    background-color:#b4cbcf;
    font-size:x-small;
    margin:3px;
}

.tag-Pamuksuz{
    background-color:#063535;
    font-size:x-small;
    margin:3px;
}

#history-chart{
    overflow:auto;
    margin-bottom: 40px;
    display:block;
}

#history-chart-legend{
    margin-bottom:40px;
}

.history-input-bulk-comparison{
    display: inline;
    position: relative;
    vertical-align: middle;
    width:85%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    margin:2px 0px;
}

#history-input-btn,
.history-input-del-btn{
    background:none;
    border:none;
    display:inline;
    vertical-align: middle;
    font-size:20px;
    margin-left:5px;
}

.fas.fa-trash-alt,
.fas.fa-download{
    color:black;
    margin-right:10px;
}

.fas.fa-file-download{
    color:white;
    margin-right:5px;
}

#history-algorithm{
    padding:30px;
    margin-top:30px;
    box-shadow: 0 0 40px #607d8b59;
}

.personality-description{
    color: #063535;
    font-size: 10px;
    font-style: italic;
}

.batch-confirmation-text{
    font-size:20px;
}
