body{
    background-color:#46aea8;
    font-family: 'Monda';
}
i{
    color:white;
}

a{
    text-decoration:underline;
}

button:focus,
button:visited,
button:active{
    outline:none;
}

#twitter-user-container,
#twitter-brand-container{
    background-color: #def2f1;
    min-height: 1000px;
    padding: 30px;
    border-radius: 10px;
    overflow:auto;
    /*font-family:'Roboto';*/
    color:#063535;
}

#comparison{
    background-color: #17252a;
    min-height: 400px;
    padding: 30px;
    border-radius: 10px;
    overflow:auto;
}

#history{
    background-color: #def2f1;
    min-height: 580px;
    padding: 30px;
    border-radius: 10px;
    margin-top:20px;
    overflow:auto;
}

#title{
    font-size: 50px;
    color: white;
}

#bae-description{
    color:white;
}



#analyze-btn{
    max-width:530px;
    margin:10px auto 10px auto;
    background:#063535;
    font-size:20px;
}
#analyze-btn:hover {
    background: #a0b2b2;
    color:#063535;
}

.history-links{
    padding:10px;
    display:block;
}
