.navbar.navbar-expand-lg{
    background-color:#46aea8;
    border-radius:initial;
    top:10px;
}

.navbar-brand{
    color:white;
}

#termination-confirmation{
    border: 1.5px solid #ffffff;
    border-radius: 5px;
}
